<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="..\template\style.css">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body>
<div class = "container">  
    <div class = "content">
        <img src="../images/image-qr-code.png" alt="image-qr-code">
        <h1 class ="text">Improve your front-end skills by building projects</h1>
        <p class ="text">Scan the QR code to visit Frontend Mentor and take your coding skills to the next level </p>
    </div>
</div>
</body>
</html>